.navbar-nav {
    display: flex;
    justify-content: center; 
    gap: 20px;  
  }
 .cartItem {
    position: absolute;
    bottom: 0;
    right: -8px; 
    width: 16px; 
    height: 16px; 
    border-radius: 50%; 
    background-color: #ef4444; 
    color: #ffffff; 
    font-size: 12px;
    display: flex; 
    justify-content: center;
    align-items: center; 
  } 
  .new{
    /* d-flex  gap-4   align-items-center */
    display: flex;
    align-items: center;
    gap: 12px;
   cursor: pointer;
   /* margin-right: 30px; */

  
  }

  .nav-item .hover-link:hover{
    color: #973a71 !important;

  }
 .nav-item .nav-link{
 color: rgb(10, 10, 10) !important ;
  font-size: 18px;
  font-weight: 400;
 }
  
  .Logo{
    color:#973a71;
  }

  #navbarNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }