
.navPhoto{
    width:200px;
    height: 200px;
    border-radius: 100px;
   
    text-align: center;
    margin-bottom: 10px; 
   
  }
  .container{
   
   text-align: center;
   padding-right: 100px;

   margin-top: 40px; 
  }
  
  .nav-item>span{


    width: bold;

    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:20px;
    font-style: italic;
    width:bold ;
   }
  
  
  
  .nav-item:hover,.nav-item:focus,.nav-item:active{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
  
 